services:
  sub-mirror:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "0.0.0.0:25500:8788"
      - "0.0.0.0:25501:8787"
    volumes:
      - ./data:/data
    environment:
      SUB_URL: ""
      USE_CONVERTER: "1"
      CONVERTER_URL: "http://127.0.0.1:8787/sub"
      SOURCE_URL: "http://127.0.0.1:8788/source.txt"
      APP_PORT: "8788"
      SUBCONVERTER_PORT: "8787"
